# Created by https://www.toptal.com/developers/gitignore/api/dotnet
# Edit at https://www.toptal.com/developers/gitignore?templates=dotnet

#!! ERROR: dotnet is undefined. Use list command to see defined gitignore types !!#

# End of https://www.toptal.com/developers/gitignore/api/dotnet
