@page "/"
@using Microsoft.AspNetCore.Components.Web
@using hassio_onedrive_backup.Contracts;
@using onedrive_backup;
@using onedrive_backup.Hass;
@namespace hassio_onedrive_backup.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject HassContext IngressSettings

<!DOCTYPE html>
<html lang="en" class="container-fluid p-0">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="@IngressSettings.IngressUrl" />
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css" />
    @* <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"> *@
    <link href="css/site.css" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet" />
    <link href="onedrive-backup.styles.css" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    <!--HtmlContentFilterTest-->
    <!-- Release Notes Modal -->
    <div class="modal fade" id="rnotesModal" tabindex="-1" aria-labelledby="rnotesModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="rnotesModalLabel">Version 2.3.2 Notes</h5>
                </div>
                <div class="modal-body">
                    <h5>❗Important</h5>
                    <p>The OneDrive Entra App was created as a Multi Tenant app (to enable future Business account support). Earlier this month due to a new MS policy, these apps required Verified Publishers (Microsoft Partners) otherwise it will not allow users to grant consent. I've updated the App to only allow Personal Accounts. This also required code changes. Please make sure authentication goes through properly after the update and if you have any issues with this please consolidate them around the <a href="https://github.com/lavinir/hassio-onedrive-backup/issues/247" target="_blank">opened Github issue</a></p>
                    <h6>🐞 Fixed</h6>
                    <ul>
                        <li>Authentication / Permissions issue</li>
                        <li>Continous backup upload / delete loop in certain edge cases with Generational Backups enabled</li>
                    </ul>
                    <h6>🗑️ Removed</h6>
                    <ul>
                        <li>Free Space Sensor - Turns out getting the Available free space in OneDrive requires Read All permissions on the OneDrive account. I didn't notice this was happening with my account but this prompts additional consent when the App makes the API call. Unfortunately having The app run with these extended permissions is something I wasn't willing to do since the beginning and regretably I've removed this feature currently. For those of you that have granted the additional consent, you can go and remove it from <a href="https://account.live.com/consent/Manage" target="_blank">here</a></li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="alertPlaceholder"></div>
    <component type="typeof(App)" render-mode="ServerPrerendered" />
    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
    <script src="lib/jquery/jquery.slim.min.js"></script>
    <script src="lib/popper.js/umd/popper.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="scripts/BlazorHelpers.js"></script>
    <script src="_framework/blazor.server.js"></script>    
</body>
</html>

