@page "/about"

<h1>About...</h1>

<h2>Official Repository</h2>
<p>You can find the code and documentation for the addon on the officail <a href="https://github.com/lavinir/hassio-onedrive-backup" target="_blank">GitHub Repo</a></p>

<h2>Open Issues</h2>
<p>If you encounter any bugs or issues with the add-on, please open an issue if needed <a href="https://github.com/lavinir/hassio-onedrive-backup/issues" target="_blank">here</a></p>

<h2>Suggest Features</h2>
<p>If you have any suggestions for new features or improvements to the add-on, please submit them on the offical <a href="https://github.com/lavinir/hassio-onedrive-backup/discussions/categories/ideas" target="_blank">GitHub repository discussions</a>.</p>

<h2>License</h2>
<p>I originally wanted a native cloud backup solution for Home Assistant with OneDrive which is why I created this. It has become a passion project and I am actively maintaining and supporting it. Completely free to use but if you
    would like to show support for the project you could <a href="https://www.buymeacoffee.com/snirlavis" target="_blank"><img class="mx-1" src="bmc/bmc-button.svg" alt="Buy Me A Coffee" style="height: 1.8rem !important;"></a> :)
</p>
<div class="d-flex flex-column align-items-center">
    <img src="images/Bitcoin-Logo.svg" alt="Bitcoin logo" style="width: 100px; height: auto; transform: scale(0.8);">
    <img src="images/bc_address.png" alt="Bitcoin address" style="width: 100px; height: auto;">
    <span class="text-center"><strong>Bitcoin Address</strong>: bc1q8htme48sx54gvctk59yxg3ts940ncf6p8377r6</span>
</div>
@code {

}
