@page "/"
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 d-flex justify-content-center">
            <onedrive_backup.Shared.OneDriveSummaryCard />
        </div>
    </div>
</div>

@code {
}    