/* Custom Popover Styles */
.popover-body {
    background-color: #3498db; /* Light blue shade */
    border: 1px solid #2980b9; /* Darker blue shade for border */
    border-radius: 8px;
    color: #ffffff !important;/* White text color */
    font-size: 16px; /* Slightly larger font size */
    padding: 12px 16px; /* Slightly more padding for better spacing */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

    .popover-arrow {
        color: #3498db; /* Light blue shade for arrow */
    }

.body-light-mode {
    background: #f4f4f4;
    background-image: linear-gradient(to bottom, #f4f4f4, #e6e6e6);
}

.body-dark-mode {
    background: #222; 
    background-image: linear-gradient(to bottom, #222, #111); 
    background-repeat: repeat-y;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

span.oi-reload.refreshing {
    display: inline-block;
    animation: rotate 2s linear infinite;
}


/* Set the height of the footer and give it a dark background */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}

    /* Style the copyright text in the footer */
    footer p {
        font-size: 14px;
        margin: 0;
    }

/* Set the min-height of the content area to fill the viewport */
/*.container {
    min-height: calc(100vh - 140px);
}
*/

nav.navbar {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05);
}

    nav.navbar .nav-link {
        color: #333;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        padding: 16px;
        border-bottom: 2px solid transparent;
        transition: border-color 0.3s ease;
    }

        nav.navbar .nav-link:hover {
            color: #0066CC;
        }

        nav.navbar .nav-link.active {
            color: #0066CC;
            border-bottom-color: #0066CC;
        }

/* Custom CSS for Styling Title */
.navbar-brand {
    font-size: 1.2rem; /* Slightly smaller font size */
    font-weight: bold; /* Bold text */
    color: #ffffff; /* White text color */
    background-color: #3498db; /* Subtle blue background color */
    padding: 0.3rem 0.8rem; /* Adjusted padding */
    border-radius: 20px; /* Adjusted border-radius for a rounded "pill" shape */
}

/* Styles applied when the "dark" class is present on the element */
nav.navbar.dark {
    box-shadow: 0px 2px 6px rgba(255, 255, 255, 0.05);
    background-color: #333;
}

nav.navbar .nav-link.dark {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 16px;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
}

nav.navbar .dark.nav-link:hover {
    color: #0066CC;
}

nav.navbar .dark.nav-link.active {
    color: #0066CC;
    border-bottom-color: #0066CC;
}

/* Styles applied when the "dark" class is present on the element */
.dark.navbar-brand {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    background-color: #3498db; /* Subtle blue background color */
    padding: 0.3rem 0.8rem;
    border-radius: 20px;
}

.transition-visible {
    overflow: hidden;
    transition: transform 0.3s ease-out;
    height: auto;
    transform: scaleY(1);
    transform-origin: top;
}

    .transition-visible.transition-collapsed {
        transform: scaleY(0);
    }
