@using onedrive_backup.Models;

<div class="card text-white bg-light mb-3 w-100" style="min-width: 16rem">
    <div class="card-header text-dark">
        Summary <span class="badge rounded-pill @SummaryBadgeColor">@SummaryBadgeText</span>
    </div>
    <div class="card-body bg-light text-body">
    </div>
    <div class="card-footer">

    </div>
</div>
@code {

    [Parameter]
    public BackupModel Backup { get; set; }
}
