@using onedrive_backup.Models;

<div class="card text-white bg-light mb-3 w-100" style="min-width: 16rem">
    <div class="card-header text-dark">
        @Backup.DisplayName <span class="badge rounded-pill @BackupTypeColor">@Backup.Type</span>
    </div>
    <div class="card-body bg-light text-body">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
    <div class="card-footer">

    </div>
</div>
@code {

    [Parameter]
    public BackupModel Backup { get; set; }

    public string BackupTypeColor => Backup.Type.Equals("full", StringComparison.OrdinalIgnoreCase) ? "bg-primary" : "bg-secondary";
}
