/* Set the height of the navbar to 60px /
nav.navbar {
height: 60px;
background-color: #f1f1f1; / add a light gray background color */
}


/* Set the height of the footer and give it a dark background */
footer {
height: 80px;
background-color: #333;
color: #fff;
display: flex;
justify-content: flex-end;
align-items: center;
padding-right: 20px; / Adds a comfortable margin to the right */
}

/* Style the copyright text in the footer */
footer p {
    font-size: 14px;
    margin: 0;
}

/* Set the min-height of the content area to fill the viewport */
.container {
    min-height: calc(100vh - 140px);
}

/*::deep .nav-link {
    visibility: hidden;
    color: white;
    height: 2px;
    margin-top: 4px;
    margin-bottom: 0;
}

::deep .nav-item .nav-link.active {
    visibility: visible;
    filter: blur(1.5px);
    color: aliceblue;
}
*/

/* Add blue theme to the navbar */
::deep nav.navbar {
    background-color: #1E90FF;
}

::deep nav.navbar .nav-link {
    color: #fff;
}

::deep nav.navbar .nav-link:hover {
    color: #0066CC;
}

::deep .nav-item .nav-link.active {
    color: #f1f1f1;
    background-color: #0066CC;
}