
/* Set the height of the footer and give it a dark background */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}

    /* Style the copyright text in the footer */
    footer p {
        font-size: 14px;
        margin: 0;
    }

/* Set the min-height of the content area to fill the viewport */
.container {
    min-height: calc(100vh - 140px);
}


::deep nav.navbar {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05);
}

    ::deep nav.navbar .nav-link {
        color: #333;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        padding: 16px;
        border-bottom: 2px solid transparent;
        transition: border-color 0.3s ease;
    }

        ::deep nav.navbar .nav-link:hover {
            color: #0066CC;
        }

        ::deep nav.navbar .nav-link.active {
            color: #0066CC;
            border-bottom-color: #0066CC;
        }
